
<div style="background-image: linear-gradient(180deg, rgba(41,34,162,0.5) 50%, #d8d3e3 100%);">
  <div class="container pt-5 pb-5">
    <div class="w-50" style="margin: 0 auto">
      <div class="formboxwhite">

        <h2><%= t("Modifie tes informations", resource: resource.model_name.human) %></h2>
        <div class="supercontainer d-flex" >

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email, required: false, autofocus: true %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></p>
              <% end %>

              <%= f.input :password,
                          label: "Nouveau mot de passe",
                          hint: t(".leave_blank_if_you_don_t_want_to_change_it"),
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :location,label: "Adresse", input_html: {data: {address_autocomplete_target: "address"}, autocomplete: "address", class: "d-none"},
                        wrapper_html: {class: "col-6 address-sign-up", data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
              <%= f.input :description,
                          required: false %>
              <%= f.input :spotify_account,
                          label: "Compte Spotify",
                          required: false %>
              <%= f.input :instagram_url,
                          label: "Compte Instagram (URL)",
                          required: false %>
              <%= f.input :soundcloud_url,
                          label: "Compte Soundcloud (URL)",
                          required: false %>
              <%= f.input :current_password,
                          label: "Renseigne ton mot de passe pour valider les modifications",
                          hint: t(".we_need_your_current_password_to_confirm_your_changes"),
                          required: true,
                          input_html: { autocomplete: "current-password" } %>
              <div class=" form-actions">
                <%= f.button :submit, t(".update"), class: "primary-button" %>
              </div>
            <% end %>
            <div class="ending-form">
              <%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete %></p>
              <%= link_to t("devise.shared.links.back"), :back %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
