<div class="container d-flex">
  <%= render "index_bar", chatrooms: @chatrooms %>
  <div class="container chatroom">
    <div class="chatroom-name">

      <%= simple_form_for (@chatroom) do |f| %>
          <%= f.input :name, label: 'Nom de la conversation' %>
          <%= f.input :users,
                class: "form-select",
                label: 'Sélectionner des jammers',
                collection: @users,
                input_html: { multiple: true, data: {controller: "tom-select", tom_select_options_value: {plugins: ['remove_button']}}} %>
          <%= f.submit 'Valider', class: 'primary-button w-100' %>
      <% end %>





    </div>

    <div class="messages" data-chatroom-subscription-target="messages">

    </div>


  </div>
</div>
