<div class="jam-card">

  <%= link_to jam_path(jam), class: "text-decoration-none" do %>
    <div class="jam-card-cover" style="background-image: url(<%= cl_image_path jam.photo.key %>)">
      <%= cl_image_tag jam.user.avatar.key, class: "avatar" %>
    </div>
  <% end %>
    <div class="jam-card-infos d-flex flex-column justify-content-between p-3">
      <div class="jam-card-details">
        <p class="card-date"><%= l(jam.jam_date, format:'%a. %-d %b %Y, %H:%M') %></p>
        <%= link_to jam_path(jam), class: "text-decoration-none" do %>
        <h3 class="card-title mt-4"><%= jam.title.capitalize %></h3>
        <% end %>
        <p class="card-location mt-2"><%= jam.location %></p>
        <p class="card-location mt-2">
          <% if jam.user == current_user %>
            <<%= "button" unless jam.bookings.empty? %><%= "div" if jam.bookings.empty? %> class="<%= "modal-button" unless jam.bookings.empty? %> participants" data-bs-toggle="modal" data-bs-target="#guestsModalDashboard">
            <div class="participant-icon"><i class="fa-solid fa-people-group"></i></div>
            <div class="status-participants"><%= jam.accepted_bookings.count %> participant<%if jam.accepted_bookings.count > 1 %>s<% end %> <br>
            <% unless jam.pending_bookings.count == 0 %><%= jam.pending_bookings.count %> en attente<% end %></div>
            </<%= "button" unless jam.bookings.empty? %><%= "div" if jam.bookings.empty? %>>
            <%= render "jams/guests_modal_dashboard", jam: jam %>
         <% end %>
        </p>
            <p class="card-location mt-2"><% jam.bookings.each do |booking|%>
              <% if booking.user == current_user %>
                <%= booking.status %>
              <% end %>
            <% end %>
            </p>
      </div>
    </div>
  </div>
