<%= link_to profile_path(user), class: "text-decoration-none" do %>
  <div class="jammer-card p-3">
      <%= cl_image_tag user.avatar.key, class: "avatar" %>
      <div class="jammer-card-infos">
        <div class="card-user">
          <%= user.first_name %> <%= user.last_name %>
        </div>
        <div class="card-location mt-2">
          <%= user.location %>
        </div>
        <div class="jam-tags d-flex">
          <div class="jammer-instruments d-flex">
            <% if user.instruments.count > 1 %>
              <% user.instruments.first(1).each do |instrument| %>
                <div class="tag tag-instruments mt-1"><%= instrument.name %></div>
              <% end %>
              <div class="tag tag-instruments mt-1">
                ...
              </div>
            <% else %>
              <% user.instruments.each do |instrument| %>
                <div class="tag tag-instruments mt-1"><%= instrument.name %></div>
              <% end %>
            <% end %>
          </div>
          <div class="jammer-genres d-flex">
            <% if user.genres.count > 1 %>
              <% user.genres.first(1).each do |genre| %>
                <div class="tag-genres mt-1"><%= genre.name %></div>
              <% end %>
              <div class="tag-genres mt-1">
                ...
              </div>
            <% else %>
              <% user.genres.each do |genre| %>
                <div class="tag-genres mt-1"><%= genre.name %></div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
<% end %>
