<div class="details-card box-shadow-morphism">
  <div class="details-container">
    <div class="details-title">détails
    </div>
    <div class="details-infos">
      <ul>
        <li>
          <i class="fa-solid fa-circle-user"></i>Proposé par <%= jam.user.first_name %>
        </li>
        <li>
          <i class="fa-solid fa-location-pin"></i><%= jam.location %>
        </li>
        <li>
          <button class="modal-button">
            <i class="fa-solid fa-people-group"></i>
              <%= confirmed_guests %> participant
                <%if confirmed_guests >= 1 %>
                  s
                <% end %>
                <% unless pending_guests == 0  %>
                  , <%= pending_guests %> en attente
                <% end %>
          </button>
          <%= render "jams/guests_modal", jam: @jam %>
        </li>
        <li>
          <div class="d-flex">
          <i class="fa-solid fa-drum"></i>
            <% jam.instruments_list.each do |instrument|%>
                <div class="tag-instruments tag"><%= instrument %></div>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
    <div class="details-description">
      <%= jam.description %>
    </div>
  </div>
</div>
<div class="show-map">
</div>
<div class="posts-container">
  <div class="post">
    <%= render "posts/new_post", post: @post, jam: @jam %>
    <%= render "posts/index_posts", posts: @posts, jam: @jam %>
  </div>

</div>
