<div class="jam-card">
  <div class="jam-card-cover" style="background-image: url(<%= cl_image_path jam.photo.key %>)">
    <%= cl_image_tag jam.user.avatar.key, class: "avatar-bordered" %>
  </div>
  <div class="jam-card-infos d-flex flex-column justify-content-between p-3">
    <div class="jam-card-details">
      <p class="card-date"><%= jam.jam_date.strftime('%a. %-d %b %Y, %I:%M %p') %></p>
      <h3 class="card-title mt-4"><%= jam.title %></h3>
      <p class="card-location mt-2"><%= jam.location %></p>
    </div>
    <div class="jam-tags flex-wrap">
      <% jam.instruments_list.each do |instrument| %>
        <div class="tag mt-1"><%= instrument %></div>
      <% end %>
    </div>
  </div>
</div>
