<%= link_to jam_path(jam), class: "text-decoration-none" do %>
  <div class="mini-jam-card">
    <div class="jam-card-cover" style="background-image: url(<%= cl_image_path jam.photo.key %>)">
      <%= cl_image_tag jam.user.avatar.key, class: "avatar" %>
    </div>
    <div class="jam-mini-infos">
      <div class="jam-card-details">
        <p class="card-date"><%= l(jam.jam_date, format:'%a. %-d %b %Y, %H:%M') %></p>
        <h3 class="card-title mt-4"><%= jam.title.capitalize %></h3>
      </div>
    </div>
  </div>
<% end %>
