<div class="container mb-5 mt-5 profile-grid">
  <div class="sidebar-profile">
    <div class="profile-infos">
      <div>
      <div>
        <p class="information-title mb-3"><%= @user.first_name%> <%= @user.last_name %></p>
      </div>
      <%= cl_image_tag @user.avatar.key, class: "avatar" %>
        <div class="socials">
          <a href="<%= @user.spotify_account %>"><i class="fa-brands fa-spotify"></i></a>
          <a href="<%= @user.instagram_url %>"><i class="fab fa-instagram"></i></a>
          <a href="https://open.spotify.com/user/<%= @user.soundcloud_url %>"><i class="fab fa-soundcloud"></i></a>
        </div>
      </div>
      <div>
        <p><%= @user.location %></p>
      </div>
      <div class="profile-description mt-5">
        <p><%= @user.description %></p>
      </div>
      <div class="profile-instruments-tags">
        <% @user.instruments.each do |instrument| %>
          <p class="tag tag-instruments"><%= instrument.name  %></p>
        <% end %>
      </div>
      <div class="profile-genres-tags">
          <% @user.genres.each do |genre| %>
          <p class="tag tag-genres"><%= genre.name  %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="profile-content ms-5 me-5">
    <div class="user-creations mt-5 mb-5">
      <% @user.creations.each do |creation| %>
      <div class="creation-card p-3">
        <iframe width="auto" height="auto" loading="lazy" src="<%= creation.creation_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <% end %>
    </div>
    <h4>Jams à venir</h4>
    <div class="profile-bookings">
      <% @user.booked_jams.each do |jam| %>
          <%= render "mini_jams", jam: jam %>
      <% end %>
    </div>
  </div>
</div>
