<div class="container mb-5 mt-5 profile-grid">
  <div class="sidebar-profile">
    <div class="profile-infos">
      <div>
        <div class="profile-name">
          <p class="information-title mb-3 ">
            <%= @user.first_name%> <%= @user.last_name %>  
            <% if current_user == @user %>
              <%= link_to edit_user_registration_path(current_user), class: "text-decoration-none" do %>
                <i class="fa-solid fa-pen"></i>
              <% end %>
            <% end %>
          </p>
        </div>
        <div class="d-flex">
          <%= cl_image_tag @user.avatar.key, class: "avatar profile-infos-avatar" %>
        </div>
        <div class="socials">
          <a href="https://open.spotify.com/user/<%= @user.spotify_account %>"><i class="fa-brands fa-spotify"></i></a>
          <a href="<%= @user.instagram_url %>"><i class="fab fa-instagram"></i></a>
          <a href="<%= @user.soundcloud_url %>"><i class="fab fa-soundcloud"></i></a>
        </div>
      </div>
      <div class="index-reviews">
        <div>
          <%= render "reviews/sum_review", reviews: @reviews, average: @average, user: @user %>
        </div>
        <div class="note-review">
          <%= @average %>
        </div>
        <div>
          <%= render "reviews/new_review", review: @review %>
        </div>
      </div>

      <div class="profile-description mt-3 mb-5">
        <p><%= @user.description %></p>
      </div>
      <div class="w-100">
        <p><i class="fa-solid fa-location-dot"></i> <%= @user.location %></p>
      </div>
      <div class="profile-instruments-tags">
        <% @user.instruments.each do |instrument| %>
          <p class="tag tag-instruments"><%= instrument.name  %></p>
        <% end %>
      </div>
      <div class="profile-genres-tags">
          <% @user.genres.each do |genre| %>
          <p class="tag tag-genres"><%= genre.name  %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="profile-content ms-5 me-5">
    <div class="mt-3 mb-3">
      <h4>Artist.e.s favorit.e.s</h4>
      <% unless @user.artists.empty?  %>
        <% if @user == current_user %>
          <%= form_with url:update_artist_list_path, method: :post do |f| %>
            <%= select_tag :artists, options_from_collection_for_select(@all_artists, "id", "name"), { placeholder: "Choisissez vos artistes favoris", multiple: true, data: { controller: "tom-select", tom_select_options_value: { plugins: ['remove_button'] } } }%>
            <%= submit_tag "C'est parti !", class: "primary-button w-100 mt-2" %>
          <% end %>
        <% end %>
        <div class="d-flex w-100 flex-wrap mt-3 mb-3">
          <% @user_artists.each do |reference| %>
            <% if reference.toplist == true %>
              <%= link_to reference.artist.spotify_url do %>
              <div class="tag tag-artist"><%= reference.artist.name %></div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if @user == current_user && @user.artists.empty? %>
        <%= link_to "Connexion à Spotify", spotify_path, class: "primary-button" %>
      <% end %>
      <% if (@user != current_user && @user.artists.empty?) || (@user != current_user && @user_artists.where(toplist: true).none?)  %>
        <p>Pas d'artistes à montrer encore...</p>
      <% end %>
    </div>
    <% unless @user.creations.empty?  %>
      <% transform_url(@user.creations) %>
      <h4><%= "Mes " if @user == current_user %>Vidéos</h4>
      <div class="user-creations mt-1 mb-5">
        <% @user.creations.each do |creation| %>
        <div class="creation-card p-3">
          <iframe class="br-3" width="100%" height="auto" loading="lazy" src="<%= creation.creation_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="pt-2 pb-2"><%= creation.message %></div>
        </div>
        <% end %>
      </div>
    <% end %>
    <% unless @user.booked_jams.empty? %>
      <h4>Jams à venir</h4>
      <div class="profile-bookings">
        <% @user.booked_jams.each do |jam| %>
            <%= render "mini_jams", jam: jam %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
