<div class="modal fade modale-guests" id="guestsModal" tabindex="-1" aria-labelledby="guestsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
        <div class="modal-header modale modale-guests-header">
          <%= cl_image_tag jam.user.avatar.key, class: "avatar-bordered" %>
          <h2 class="modal-title fs-5 modal-title-guests" id="guestsModalLabel">Participant.e.s</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modale">
          <div class="modale-guests-status">
            <div id="pending">
              En attente
            </div>
            <div id="accepted">
              Participant.e.s
            </div>
            <div id="declined">
              Refusé.e.s
            </div>
          </div>
          <div class="modale-guests-body" id="show-pending">
          <%# !Pending %>
            <% @pending_bookings.each do |booking| %>
              <div class="d-flex justify-content-between modale-guests-line">
                <div>
                  <%= cl_image_tag booking.user.avatar.key, class:"avatar-bordered" %>
                  <%= booking.user.first_name %>
                </div>
                <div class="d-flex">
                  <%= link_to "Accepter", accepted_jam_booking_path(booking.jam, booking), class:"primary-button b-accept", data: {turbo_method: :patch} %>
                  <%= link_to "Refuser", declined_jam_booking_path(booking.jam, booking), class:"primary-button b-decline", data: {turbo_method: :patch} %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="modale-guests-body d-none" id="show-accepted">
          <%# !Accepted %>
            <% @accepted_bookings.each do |booking| %>
              <div class="d-flex justify-content-between modale-guests-line">
                <div>
                  <%= cl_image_tag booking.user.avatar.key, class:"avatar-bordered" %>
                  <%= booking.user.first_name %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="modale-guests-body d-none" id="show-declined">
          <%# !Declined %>
            <% @declined_bookings.each do |booking| %>
              <div class="d-flex justify-content-between modale-guests-line">
                <div>
                  <%= cl_image_tag booking.user.avatar.key, class:"avatar-bordered" %>
                  <%= booking.user.first_name %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
