<div class="modal fade modale-guests" id="<%= "guestsModal" unless jam.bookings.empty? %><%= "noshow" if jam.bookings.nil? %>" tabindex="-1" aria-labelledby="guestsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
        <div class="modal-header modale modale-guests-header">
          <h2 class="modal-title fs-5 modal-title-guests" id="guestsModalLabel">Invité.e.s</h2>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modale" data-controller="jam-status-toggle">
          <div class="modale-guests-status">
            <div data-jam-status-toggle-target="tabButton" data-action="click->jam-status-toggle#displayToggle" id="pending" class="tab">
              En attente
            </div>
            <div data-jam-status-toggle-target="tabButton" data-action="click->jam-status-toggle#displayToggle" id="accepted" class="tab">
              Participant.e.s
            </div>
            <div data-jam-status-toggle-target="tabButton" data-action="click->jam-status-toggle#displayToggle" id="declined" class="tab">
              Refusé.e.s
            </div>
          </div>
          <div class="modale-guests-body" data-jam-status-toggle-target="pendingBody">
          <%# !Pending %>
            <% pending_bookings.each do |booking| %>
              <div class="d-flex justify-content-between modale-guests-line">
                <div class="d-inline-flex align-items-center">
                  <%= cl_image_tag booking.user.avatar.key, class:"avatar" %>
                  <div>
                  <%= booking.user.first_name %>
                  </div>
                </div>
                <% if policy(booking).accepted? %>
                  <div class="d-flex">
                    <%= link_to "Accepter", accepted_jam_booking_path(booking.jam, booking), class:"primary-button b-accept", data: {turbo_method: :patch} %>
                    <%= link_to "Refuser", declined_jam_booking_path(booking.jam, booking), class:"primary-button b-decline", data: {turbo_method: :patch} %>
                  </div>
                <% end %>
              </div>
              <div class="booking-description">
              <% if policy(booking).accepted? %>
                <%= booking.message %>
              <% end %>
              </div>
            <% end %>
          </div>
          <div class="modale-guests-body d-none" data-jam-status-toggle-target="acceptedBody">
          <%# !Accepted %>
            <% if accepted_bookings.empty?  %>
              Personne n'est encore confirmé pour cette jam.
            <% end %>
            <% accepted_bookings.each do |booking| %>
              <div class="d-flex justify-content-between modale-guests-line">
                <div>
                  <%= cl_image_tag booking.user.avatar.key, class:"avatar" %>
                  <%= booking.user.first_name %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="modale-guests-body d-none" data-jam-status-toggle-target="declinedBody">
          <%# !Declined %>
            <% if declined_bookings.empty?  %>
              Personne n'est encore confirmé pour cette jam.
            <% end %>
            <% declined_bookings.each do |booking| %>
              <div class="d-flex justify-content-between modale-guests-line">
                <div>
                  <%= cl_image_tag booking.user.avatar.key, class:"avatar" %>
                  <%= booking.user.first_name %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
