<div class="information-container">
  <div class="information-title">Informations
  </div>
  <div class="proposed-by">
    <div>
    <%= link_to profile_path(jam.user) do %>
    <%= cl_image_tag jam.user.avatar.key, class: "avatar" %>
    <% end %>
    </div>
    <div class="user-information-jam">
      <div class="user-information-name">
      Proposé par <%= link_to jam.user.first_name, profile_path(jam.user), class:"link" %>
      </div>
      <div class="user-information-description">
      <p><%= jam.user.description.truncate(100) %></p>
      </div>
    </div>
  </div>
  <div class="informations-picto" >
    <ul class="picto">
        <li>
          <div class="d-flex">
          <i class="fa-solid fa-drum"></i>
            <% jam.instruments_list.each do |instrument|%>
                <div class="tag-instruments tag"><%= instrument %></div>
            <% end %>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-location-pin"></i><%= jam.location %>
        </li>
        <li>
        <%# * Running tests to style and launch modals %>
          <<%= "button" unless jam.bookings.empty? %><%= "div" if jam.bookings.empty? %> class="<%= "modal-button" unless jam.bookings.empty? %>" data-bs-toggle="modal" data-bs-target="#guestsModal">
            <i class="fa-solid fa-people-group"></i><%= accepted_bookings.count %> participant<%if accepted_bookings.count > 1 %>s<% end %><% unless pending_bookings.count == 0 %>, <%= pending_bookings.count %> en attente<% end %>
          </button>
            <%= render "jams/guests_modal", jam: @jam %>
        </li>
      </ul>
  </div>
  <div class="informations-description">
  <%= jam.description %>
  </div>

</div>
