 <div class="jambanner" style="background-image: linear-gradient(93.36deg, rgba(24, 7, 70, 0.35) 2.78%, rgba(24, 7, 70, 0) 69.43%), url('<%= cl_image_path jam.photo.key %>')">
     <div class="jambanner-box jambanner-i-container">
    <div class="jambanner-i-t-l-container">
      <div>
        <div class="jambanner-i-title">
          <%= jam.title.capitalize %>
        </div>
        <div class="jambanner-i-date-time">
         <%= l(jam.jam_date, format:'%a. %-d %b %Y, %H:%M') %>
        </div>
        <div class="jambanner-i-location">
          <%= jam.location %>
        </div>
      </div>
      <div class="jambanner-i-button">
        <% unless user_signed_in? && jam.bookings.any?{|booking| booking.user_id == current_user.id} %>
          <%= render "bookings/new_booking", booking: @booking, jam: @jam %>
          <% if policy(jam).edit? %>
          <%= render "edit_jam", jam: @jam %>
          <% end %>
        <% else %>
          <div class="primary-button b-inactive "> Je Participe <i class="fa-solid fa-arrow-right ps-2"></i></div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
