<div class="jambanner">
  <div class="jambanner-image" style="background-image: linear-gradient(94.55deg, rgba(24, 7, 70, 0.35) 3.68%, rgba(24, 7, 70, 0) 53.68%), url('<%= cl_image_path jam.photo.key %>')">

  </div>
  <div class="jambanner-i-container">
    <div class="jambanner-i-date-time">
      <%= jam.jam_date.strftime('%a. %-d %b %Y, %I:%M %p') %>
    </div>
    <div class="jambanner-i-t-l-container">
      <div class="jambanner-i-title-and-location">
        <div class="jambanner-i-title">
          <%= jam.title %>
        </div>
        <div class="jambanner-i-location">
          <%= jam.location %>
        </div>
      </div>
      <div class="jambanner-i-button">
        <%= render "bookings/new_booking", booking: @booking, jam: @jam %>
        <%= render "edit_jam", jam: @jam %>
      </div>
    </div>
  </div>
</div>
