<div class="information-container">
  <div class="information-title">Informations
  </div>
  <div class="proposed-by box-shadow-morphism">
    <div>
    <%= link_to profile_path(jam.user) do %>
    <%= cl_image_tag jam.user.avatar.key, class: "avatar" %>
    <% end %>
    </div>
    <div class="user-information-jam">
      <div class="user-information-name">
      <p>Proposé par <%= link_to jam.user.first_name, profile_path(jam.user), class:"link" %></p>
      </div>
      <div class="user-information-description">
      <p><%= jam.user.description.truncate(100) %></p>
      <%# * Run test to see if there is a match with top artists %>
      <% if user_signed_in? && jam.user.id != current_user.id %>
        <% union = jam.user.user_artists.where(toplist: true) + current_user.user_artists.where(toplist: true) %>
        <% array = [] %>
        <% union.each do |ref| %>
          <% array.push(ref.attributes.values_at("artist_id")[0]) %>
        <% end %>
        <% count_array = array.count %>
        <% unique_array = array.uniq %>
        <% common_array = array.group_by{ |e| e }.select { |k, v| v.size > 1 }.map(&:first)  %>
        <% count_unique_array = unique_array.count %>
        <% common = count_array - count_unique_array %>
        <% if common == 0 %>
          <br><p><i class="fa-brands fa-spotify" style="color: #1DB954"></i> Vous n'avez pas encore d'artistes favoris en commun avec <%= jam.user.first_name %>.</p>
        <% else %>
          <% unless count_array == unique_array %>
          <%# * Modale encapsulation of matching artists %>
            <button class="modal-button" data-bs-toggle="modal" data-bs-target="#artistsModal">
            <p><br><i class="fa-brands fa-spotify" style="color: #1DB954"></i> Vous et <%= jam.user.first_name %> avez <%= common %> artiste<%= "s" if common > 1 %> favori<%= "s" if common > 1 %> en commun.
            </button>
            </p>
          <% end %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="informations-picto" >
    <ul class="picto">
        <li>
          <div class="d-flex">
          <i class="fa-solid fa-drum"></i>
            <% jam.instruments_list.each do |instrument|%>
                <div class="tag-instruments tag"><%= instrument %></div>
            <% end %>
          </div>
        </li>
        <li>
          <i class="fa-solid fa-location-dot"></i><%= jam.location %>
        </li>
        <li>
        <%# * Running tests to style and launch modals %>
          <<%= "button" unless jam.bookings.empty? %><%= "div" if jam.bookings.empty? %> class="<%= "modal-button" unless jam.bookings.empty? %>" data-bs-toggle="modal" data-bs-target="#guestsModal">
            <i class="fa-solid fa-people-group"></i><%= accepted_bookings.count %> / <%= jam.capacity %> participants<% unless pending_bookings.count == 0 %>, <%= pending_bookings.count %> en attente<% end %>
          </<%= "button" unless jam.bookings.empty? %><%= "div" if jam.bookings.empty? %>>
        </li>
      </ul>
  </div>
  <div class="informations-description box-shadow-morphism">
  <%= jam.description %>
  </div>

</div>

<%= render "jams/guests_modal", jam: @jam %>
<% if user_signed_in? %>
<%= render "jams/artists_modal", common_array: common_array.nil? ? [] : common_array %>
<% end %>
