<div class="jambanner">
  <div class="jambanner-image">
    <%= cl_image_tag jam.photo.key %>
  </div>
  <div class="jambanner-i-container">
    <div class="jambanner-i-date-time">
      <%= jam.jam_date.strftime('%a. %-d %b %Y, %I:%M %p') %>
    </div>
    <div class="jambanner-i-t-l-container">
      <div class="jambanner-i-title-and-location">
        <div class="jambanner-i-title">
          <%= jam.title %>
        </div>
        <div class="jambanner-i-location">
          <%= jam.location %>
        </div>
      </div>
      <div class="jambanner-i-button">
        <%= render "bookings/new_booking", booking: @booking, jam: @jam %>
        <% if policy(jam).edit? %>
        <%= render "edit_jam", jam: @jam %>
        <% end %>
      </div>
    </div>
  </div>
</div>
