<%= render "jams/jam_banner", jam: @jam %>
<div class="show-container">

    <%= render "jams/jam_informations", jam: @jam, accepted_bookings: @accepted_bookings, pending_bookings: @pending_bookings %>

    <%= render "jams/map_jam", jam: @jam, accepted_bookings: @accepted_bookings, pending_bookings: @pending_bookings %>

</div>
<% if @jam.user == current_user || @jam.bookings.any? {|booking| booking.user == current_user && booking.status == "accepted"} %>
  <div class="container">
      <div class="post" data-controller="jam-subscription"
      data-jam-subscription-jam-id-value="<%= @jam.id %>"  data-jam-subscription-user-id-value="<%= current_user.id %>" >
        <div class="create-publication mb-5">
          <%= render "posts/new_post", post: @post, jam: @jam %>
        </div>
        <div class="posts" data-jam-subscription-target="posts">
            <% @posts.each do |post| %>
             <%= render "posts/post", post: post, jam: @jam%>
            <% end %>
          </div>
      </div>
  </div>
<% end %>

  <%# end %>
