    <div class="publication box-shadow-morphism publication-reviews" >
                <div class="header-publication">
                  <%= cl_image_tag review.reviewer.avatar.key, class: "avatar" %>
                  <div class="infos-publication">
                    <span class="post-author"><%=review.reviewer.first_name%> <%=review.reviewer.last_name%> </span>
                    <div class="timeago">
                      <%= distance_of_time_in_words(DateTime.now,review.created_at) %>
                    </div>
                  </div>
                </div>
                <div class="body-publication">
                <p> <%= review.description %> </p>
                <h2 class="modal-title fs-5 review-comments" id="reviewAverageModalLabel">
                  <% average.round.times do %>
                    <i class="fa-solid fa-star"></i>
                  <% end %>
                  <% (5-average.round).times do %>
                    <i class="fa-regular fa-star"></i>
                  <% end %>
                </h2>
                </div>
          </div>
