<!DOCTYPE html>
<html>
  <head>
    <title>Youjam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/flashes" %>
    <div class="footer d-flex">
      <div class="footer-links">
        <a href="#"><i class="fa-brands fa-spotify"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-more">
        <a href="#">Join YouJam</i></a>
        <a href="#">Contact us</i></a>
        <a href="#">More about us</i></a>
      </div>
    </div>
  </body>
</html>
